<!-- <div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">One of three columns</div>
    <div class="col-12 col-sm-6 col-md-3">One of three columns</div>
    <div class="col-12 col-sm-6 col-md-3">One of three columns</div>
    <div class="col-12 col-sm-6 col-md-3">One of three columns</div>
  </div>
</div> -->

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to
      additional content. This card has even longer content than the first to
      show that equal height action.
    </p>
  </div>
</div>
